---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---
<Layout>
  <main>
    <h1>Lorem Ipsum</h1>
    <p>We are the descendants of the members of the global network of Korean Independence Activists on parallel journeys to learn about our families. Our ancestors left Korea, loved Korea, and gave all that they could for her freedom. We hope to recover their stories of courage, resistance, resilience, compassion, and devotion to one common goal. </p>
  </main>
</Layout>