---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main>
		<section class="hero">
			<h1>KIL</h1>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, ratione!</p>
		</section>
		<section class="upcoming">
			<h2>Upcoming News</h2>
			<p>Lorem ipsum dolor sit amet.</p>
		</section>

	</main>
</Layout>
<style>
	.hero {
		min-height: 600px;
	}

	h1 {
		margin-bottom: 1em;
		font-size: 3rem;
	}

	.upcoming {
		min-height: 400px;
	}

	.upcoming h2 {
		margin-bottom: 1em;
		font-size: 2rem;
		text-align: center;
	}
</style>