---
import Layout from "../layouts/Layout.astro";
import Immigrant from "../components/Immigrant.astro";
import { Icon } from 'astro-icon/components';
---

<Layout>
  <main>
    <section class="hero">
      <h1>Immigrants</h1>
      <p>In 1905, a group of approximately 1000 souls left the Korean Peninsula for the Yucatan Peninsula. The group was a mixture of families, yangban, soldiers, educators, and religious people. Among them were my great-grandparents and their children. Most of these people would never see their homeland again. They would watch from afar as Korea remained occupied from 1910-1945. During this period, a sophisticated global network  launched the Korean National Associations, Mutual Aid Societies, Military Training School, and Korean Language and Cultural School. The US, Mexico and Korea communicated through a newspaper called Sinhan Minbo during the occupation. And although assimilation was forced upon us, we held tight to our hope and Korean identity which remains with the descendants until this day.</p>
    </section>
    <section class="search">
      <form method="GET">
        <input
          type="text"
          id="search-bar"
          name="search"
          placeholder="Search for a name or details..."
          value=""
          class="search-bar"
        />
        <button type="submit"><Icon name="mdi:search" /></button>
      </form>
    </section>
    <section>
      <ul class="list">
        <Immigrant />
      </ul>
    </section>
  </main>
</Layout>
<script>
  document.getElementById("search-bar").addEventListener("input", function () {
    let query = this.value.toLowerCase();
    let items = document.querySelectorAll(".list-item");

    items.forEach(item => {
      let name = item.querySelector(".name").textContent.toLowerCase();
      let info = item.querySelector(".text").textContent.toLowerCase();

      if (name.includes(query) || info.includes(query)) {
        item.style.display = "block";
      } else {
        item.style.display = "none";
      }
    });
  });
</script>

<style>
  main {
    background-color: #b6a199;
  }

  h1 {
    margin-bottom: 1em;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
  }

  .hero p {
    font-size: 1.33rem;
  }

  .search {
    padding-block: 30px;
    background-color: #b6a199;
  }

  form {
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
  }

  input {
    border: none;
    font-size: 1.33rem;
  }

  button {
    background-color: inherit;
    border: none;
    font-size: 1.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>